.additional-reasons__list {
  width: 320px;
  .list-reset();
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .additional-reasons__list {
    display: flex;

    width: 768px;
  }
}

@media (min-width: @desktop-width) {
  .additional-reasons__list {
    width: 1200px;
  }
}
