.booking {
  width: 320px;
  margin: 0 auto;
  padding: 28px 20px 49px;

  color: #000000;

  background-color: #ffffff;
}

.booking__text {
  margin: 0;
  padding-bottom: 35px;

  font: normal 14px/24px @font-family;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: @grey-text-color;
}

.booking__text br {
  display: none;
}

.booking__lead {
  display: block;
  padding-bottom: 19px;

  .primary-text-style();
  font-size: 21px;
}

.booking__button {
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .booking {
    width: 768px;
    padding-top: 49px;
    padding-bottom: 58px;
  }

  .booking__text {
    width: 458px;
    margin: 0 auto;
    padding-bottom: 42px;
  }

  .booking__text br {
    display: inline;
  }

  .booking__lead {
    padding-bottom: 23px;

    font-size: 30px;
    line-height: 40px;
  }
}

@media (min-width: @desktop-width) {
  .booking {
    width: 1200px;
    padding-top: 48px;
    padding-bottom: 66px;
  }

  .booking__text {
    padding-bottom: 47px;
  }
}
