.booking {
  color: #000000;

  background-color: #ffffff
}

.booking__text {
  margin: 0;

  .second-text-style();
  line-height: 24px;
}

.booking__lead {
  display: block;

  .primary-text-style();
  font-size: 21px;
}
