.button {
  display: block;
  width: 280px;
  margin: 0 auto;
  padding: 16px 20px;

  .primary-text-style();
  color: #ffffff;

  background-color: @site-theme-color;

  &--booking,
  &--submit {
    font-size: 21px;
  }

  &--error {
    width: 180px;
  }
}

@media (min-width: @tablet-width) {
  .button {
    width: 458px;

    &--submit {
      width: 324px;
    }

    &--error {
      width: 272px;

      font-size: 21px;
    }

    &--success {
      font-size: 21px;
    }
  }
}

@media (min-width: @desktop-width) {
  .button--submit {
    width: 480px;
  }
}
