.copyright__text {
  .primary-text-style();
  font-size: 14px;
  font-weight: normal;
}

@media (min-width: @tablet-width) {
  .copyright {
    width: 196px;
  }
}

@media (min-width: @desktop-width) {
  .copyright {
    width: 400px;
  }
}
