.feature {
  padding-top: 36px;
  padding-left: 50px;

  color: #000000;

  background-color: #ffffff;
  outline: 1px solid cyan;
}

.feature__title {
  margin: 0;
  padding-bottom: 16px;

  .primary-text-style();
  text-align: left;
}

.feature__description {
  margin: 0;

  .second-text-style();
  text-align: left;
}
