.feature {
  color: #000000;

  background-color: #ffffff;
}

.feature__title {
  margin: 0;

  .primary-text-style();
  text-align: left;
}

.feature__description {
  margin: 0;

  .second-text-style();
  text-align: left;
}
