.feedback-form {
  padding-bottom: 36px;
}

.feedback-form__fieldset {
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 26px;
}

.feedback-form__submit {
  padding-top: 26px;
}

.feedback-form__legend {
  .primary-text-style();
}

.feedback-form__list {
  .list-reset();
}

.feedback-form__text-label {
  .second-text-style();
  line-height: 26px;
  text-align: left;
}

.feedback-form__text-input {
  .primary-text-style();
  text-align: left;
  text-transform: none;

  background-color: @grey-bg-color;
}

.feedback-form__radio-label,
.feedback-form__checkbox-label {
  .primary-text-style();
  text-align: left;
  text-transform: none;
}
