.feedback-form__legend {
  .primary-text-style();
}

.feedback-form__list {
  .list-reset();
}

.feedback-form__text-label {
  .second-text-style();
  line-height: 26px;
  text-align: left;
}

.feedback-form__text-input {
  .primary-text-style();
  text-align: left;
  text-transform: none;

  background-color: @grey-bg-color;
}

.feedback-form__radio-label,
.feedback-form__checkbox-label {
  .primary-text-style();
  text-align: left;
  text-transform: none;
}
