.feedback-form {
  width: 320px;
  margin: 0 auto;
  padding-bottom: 47px;
}

.feedback-form__fieldset {
  margin: 0;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 26px;
}

.feedback-form__submit {
  padding-top: 26px;
}

.feedback-form__legend {
  .primary-text-style();
}

.feedback-form__list {
  .list-reset();
}

.feedback-form__text-label {
  .second-text-style();
  line-height: 26px;
  text-align: left;
}

.feedback-form__text-input {
  .primary-text-style();
  text-align: left;
  text-transform: none;

  background-color: @grey-bg-color;
}

.feedback-form__radio-label,
.feedback-form__checkbox-label {
  .primary-text-style();
  text-align: left;
  text-transform: none;
}

.feedback-form__footnote {
  display: none;
}

@media (min-width: @tablet-width) {
  .feedback-form {
    display: flex;
    flex-wrap: wrap;
    width: 768px;
    padding-right: 60px;
    padding-left: 60px;
    padding-bottom: 60px;
  }

  .feedback-form__fieldset {
    width: 648px;
    padding: 0;
    padding-bottom: 60px;

    &--name,
    &--impression {
      width: 324px;
    }

    &--impression {
      order: -1;
    }
  }

  .feedback-form__submit {
    width: 648px;
    padding-top: 0;
  }

  .feedback-form__legend {
    font-size: 21px;
  }

  .feedback-form__footnote {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .feedback-form {
    width: 1200px;
    padding-right: 120px;
    padding-left: 120px;
    padding-bottom: 66px;
  }

  .feedback-form__fieldset {
    width: 960px;

    &--name,
    &--impression {
      width: 480px;
    }
  }

  .feedback-form__submit {
    width: 960px;
  }
}
