.hashtag {
  padding-bottom: 34px;
}

.hashtag__link {
  .primary-text-style();
  font-size: 21px;

  cursor: pointer;
}

@media (min-width: @tablet-width) {
  .hashtag {
    flex-shrink: 0;

    width: 33.33%;
    max-width: 256px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 60px;

    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .hashtag {
    max-width: 400px;
    padding-right: 60px;

    text-align: center;
  }
}
