.hashtag {
  max-width: 280px;
  margin: 0 auto;
  padding-bottom: 34px;

  word-wrap: break-word;
  overflow-wrap: break-word;
}

.hashtag__link {
  .primary-text-style();
  font-size: 21px;

  cursor: pointer;
}

@media (min-width: @tablet-width) {
  .hashtag {
    flex-shrink: 0;

    display: block;
    width: 33.33%;
    max-width: 33.33%;
    margin-right: 0;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 60px;

    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .hashtag {
    padding-right: 60px;

    text-align: center;
  }
}
