.likes {
  display: flex;

  margin: 0;
  padding-top: 6px;

  word-wrap: break-word;
  overflow-wrap: break-word;
}

.likes__like-button {
  flex-shrink: 0;

  width: 22px;
  height: 20px;
  margin-right: 14px;
  padding: 0;

  color: #000000;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.likes__like-icon {
  width: 22px;
  height: 20px;

  opacity: 0.3;
}

.likes__count {
  flex-shrink: 0;

  padding-top: 2px;

  font: bold 14px/24px @font-family;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
}

@media (min-width: @tablet-width) {
  .likes {
    flex-shrink: 0;
    flex-basis: auto;
    flex-grow: 1;
    justify-content: flex-end;

    min-width: 75px;
    padding-left: 10px;
    padding-top: 11px;
  }

  .likes__like-button {
    margin-right: 10px;
  }

  .likes__count {
    min-width: 33px;
    max-width: 52px;
  }
}

@media (min-width: @desktop-width) {
  .likes__count {
    color: #ffffff;
  }

  .likes__like-button {
    color: #ffffff;
  }

  .likes__like-icon {
    opacity: 1;
  }
}
