.modal {
  color: #000000;

  &--error {
    background-color: #ffffff;
  }

  &--success {
    background-color: @grey-bg-color;
  }
}

.modal__title {
  .primary-text-style();
}

.modal__description {
  .second-text-style();
  line-height: 24px;
}
