@keyframes roll-in {
  0% {
    transform: translate(-2000px, -50%) rotate(-180deg);
    opacity: 0;
  }

  100% {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }
}

.modal {
  position: fixed;
  z-index: 50;
  top: 50%;
  left: 50%;

  display: none;
  width: 320px;

  color: #000000;

  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);

  transform: translateX(-50%) translateY(-50%);


  &--error {
    padding-bottom: 35px;

    background-color: #ffffff;
  }

  &--success {
    padding-bottom: 20px;

    background-color: @gray-bg-color;
  }

  &--show {
    display: block;

    animation: roll-in 0.6s ease-out forwards;
  }

  &--no-animation {
    animation: none;
  }
}

.modal__title {
  margin: 0;
  padding: 40px 20px 26px;

  .primary-text-style();

  background-color: #ffffff;

  .modal--success & {
    padding-top: 42px;
  }
}

.modal__description {
  margin: 0;
  padding: 0 45px 23px;

  .second-text-style();
  line-height: 24px;

  background-color: #ffffff;

  .modal--success & {
    margin-bottom: 20px;
    padding-bottom: 33px;
  }
}

@media (min-width: @tablet-width) {
  .modal {
    &--error {
      width: 400px;
      padding-bottom: 49px;
    }

    &--success {
      width: 640px;
      padding-bottom: 44px;
    }
  }

  .modal__title {
    font-size: 30px;
    line-height: 40px;

    .modal--error & {
      padding: 54px 80px 26px;
    }

    .modal--success & {
      padding: 56px 60px 24px;
    }
  }

  .modal__description {
    .modal--error & {
      padding: 0 60px 30px;
    }

    .modal--success & {
      margin-bottom: 44px;
      padding: 0 85px 33px;
    }
  }
}
