.page-header {
  color: #000000;

  background-color: #ffffff
}

.page-header__lettering {
  background-color: #7c8388;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
