.page-header {
  display: flex;
  flex-direction: column;

  color: #000000;

  background-color: #ffffff;
}

.page-header__logo {
  position: relative;
  z-index: 2;

  order: 2;
  flex-shrink: 0;

  width: 100%;
  display: block;
  margin-bottom: -27px;
  padding: 0 20px;

  &[href] {
    cursor: pointer;
  }
}

.page-header__logo-image {
  display: block;
  width: 102px;
  height: 83px;
  margin: 0 auto;
}

.page-header__lettering {
  position: relative;

  order: 3;
  flex-shrink: 0;
  display: flex;
  align-items: center;

  width: 100%;
  margin: 0;
  padding: 0 20px;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;

  &--index {
    min-height: 389px;
    padding-top: 45px;
    padding-bottom: 40px;

    background-color: #9297a1;
    background-position: center;
  }

  &--inner-page {
    min-height: 158px;
    padding-top: 36px;
    padding-bottom: 53px;

    background-color: #816365;
    background-position: center bottom;
  }

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 768px auto;
  }
}

.page-header__lettering::after {
  content: "";

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  height: 26px;

  background-image: url("../img/bg-intro-triangle-mobile.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: auto 26px;
}

.page-header__lettering-image {
  flex-shrink: 0;

  display: block;
  margin: 0 auto;

  &--index {
    width: 280px;
    height: 214px;
  }

  &--inner-page {
    width: 229px;
    height: 39px;
  }
}

@media (min-width: @tablet-width) {
  .page-header__logo {
    align-self: center;

    width: 102px;
    height: 83px;
    margin-top: -56px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }

  .page-header__lettering {
    padding-right: 60px;
    padding-left: 60px;

    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: cover;

    &--index {
      min-height: 518px;
      padding-top: 49px;
      padding-bottom: 62px;
    }

    &--inner-page {
      min-height: 290px;
      padding-top: 40px;
      padding-bottom: 62px;

      background-position: right bottom;
    }

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .page-header__lettering::after {
    height: 57px;

    background-image: url("../img/bg-intro-triangle-tablet.svg");
    background-size: auto 57px;
  }

  .page-header__lettering-image {
    &--index {
      width: 460px;
      height: 350px;
    }

    &--inner-page {
      width: 458px;
      height: 78px;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo {
    width: 188px;
    height: 96px;
    margin-top: -56px;
    margin-bottom: -40px;
  }

  .page-header__logo-image {
    width: 188px;
    height: 96px;
  }

  .page-header__lettering {
    padding-right: 120px;
    padding-left: 120px;

    background-image: url("../img/bg-back-desktop@1x.jpg");

    &--inner-page {
      min-height: 301px;
      padding-top: 52px;
      padding-bottom: 70px;
    }

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 1200px auto;
    }
  }

  .page-header__lettering::after {
    background-image: url("../img/bg-intro-triangle-desktop.svg");
  }
}
