.page-footer {
  padding: 37px 20px 23px;

  color: #000000;

  background-color: @footer-bg-color;
}

.page-footer__hashtag {
  margin: 0;
}

.page-footer__copyright {
  margin: 0;
}

@media (min-width: @tablet-width) {
  .page-footer {
    display: flex;
    padding: 36px 0;
  }

  .page-footer__hashtag {
    margin-left: auto;
  }

  .page-footer__copyright {
    margin-right: auto;
  }
}
