.page-header {
  position: relative;

  display: flex;
  flex-direction: column;

  color: #000000;

  background-color: #ffffff;
}

.page-header__logo {
  z-index: 1;

  display: block;
  order: 1;
  // или вместо отрицательного отступа:
  // height: 57px;
  margin-bottom: -26px;
  padding: 0 20px;

  outline: 2px solid crimson;
}

.page-header__logo-image {
  display: block;
  width: 102px;
  height: 83px;
  margin: 0 auto;
}

.page-header__lettering {
  order: 2;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #9297a1;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  outline: 2px solid darkorange;

  &--index {
    padding-top: 90px;
    padding-bottom: 85px;
  }

  &--inner-page {
    padding-top: 52px;
    padding-bottom: 67px;
  }
}

.page-header__lettering-image {
  display: block;
  margin: 0 auto;

  &--index {
    width: 280px;
    height: 214px;
  }

  &--inner-page {
    width: 230px;
    height: 40px;
  }
}

@media (min-width: @tablet-width) {
  .page-header__logo {
    width: 102px;
    height: 83px;
    margin-top: -57px;
    margin-right: auto;
    margin-left: auto;
  }

  .page-header__lettering {
    padding-right: 60px;
    padding-left: 60px;

    background-size: cover;

    &--index {
      padding-top: 77px;
      padding-bottom: 90px;
    }

    &--inner-page {
      padding-top: 95px;
      padding-bottom: 117px;
    }
  }

  .page-header__lettering-image--index {
    width: 462px;
    height: 350px;
  }

  .page-header__lettering-image--inner-page {
    width: 460px;
    height: 80px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo {
    width: 188px;
    height: 96px;
    margin-top: -56px;
    margin-bottom: -40px;
  }

  .page-header__logo-image {
    width: 188px;
    height: 96px;
  }

  .page-header__lettering {
    padding-right: 120px;
    padding-left: 120px;

    &--inner-page {
      padding-top: 102px;
      padding-bottom: 120px;
    }
  }
}
