.page-main {
  color: #000000;

  background-color: #ffffff;
}

.page-main__title {
  width: 320px;
  margin: 0 auto;
  padding-top: 38px;
  padding-right: 32px;
  padding-left: 32px;
  padding-bottom: 30px;

  .primary-text-style();

  outline: 1px solid blue;
}

.page-main__intro {
  width: 320px;
  margin: 0 auto;
  padding-right: 32px;
  padding-left: 32px;
  padding-bottom: 24px;

  .second-text-style();
  line-height: 24px;

  outline: 1px solid blue;

  &--form {
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
  }

  &--index {
    line-height: 26px;
  }

  &--photo {
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 30px;
  }
}

@media (min-width: @tablet-width) {
  .page-main__title {
    width: 460px;
    padding-top: 72px;
    padding-right: 20px;
    padding-left: 20px;

    font-size: 30px;
    // в макете на внутренних страницах высота строки 26px, то есть меньше, чем размер шрифта
    line-height: 30px;

    &--index {
      width: 490px;
      padding-top: 48px;

      font-size: 21px;
      line-height: 26px;
    }
  }

  .page-main__intro {
    width: 480px;
    padding-right: 20px;
    padding-left: 20px;

    &--form {
      padding-bottom: 76px;
    }

    &--index {
      width: 530px;
      padding-bottom: 50px;
    }

    &--photo {
      padding-right: 25px;
      padding-left: 25px;
      padding-bottom: 70px;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-main__title {
    padding-top: 106px;

    &--index {
      padding-top: 46px;
    }
  }

  .page-main__intro {
    padding-bottom: 53px;

    &--form {
      padding-bottom: 66px;
    }

    &--photo {
      padding-bottom: 73px;
    }
  }
}
