.page-main {
  color: #000000;

  background-color: #ffffff;
}

.page-main__title {
  margin: 0;

  .primary-text-style();
}

.page-main__intro {
  margin: 0;

  .second-text-style();
  line-height: 24px;

  &--index {
    line-height: 26px;
  }
}
