.photo {
  width: 320px;
  margin: 0 auto;
  padding: 22px 20px 17px;

  color: #000000;

  background-color: #ffffff;
  border-top: 1px solid @grey-bg-color-dark;

  &:last-of-type {
    border-bottom: 1px solid @grey-bg-color-dark;
  }
}

.photo__link {
  display: block;
  width: 280px;
  height: 280px;

  cursor: pointer;
}

.photo__preview-image {
  display: block;
  width: 280px;
  height: 280px;
}

.photo__info {
  padding-top: 15px;
}

.photo__title {
  margin: 0;

  font: bold 14px/24px @font-family;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.photo__author {
  margin: 0;

  .second-text-style();
  line-height: 24px;
  text-align: left;
  text-transform: none;
}

@media (min-width: @tablet-width) {
  .photo {
    width: 324px;
    margin: 0;
    padding: 0;

    border: none;

    &:last-of-type {
      border: none;
    }

    &--wide {
      width: 648px;
    }
  }

  .photo__link {
    width: 324px;
    height: 266px;

    &--wide {
      width: 648px;
      height: 400px;
    }
  }

  .photo__preview-image {
    width: 324px;
    height: 266px;

    &--wide {
      width: 648px;
      height: 400px;
    }
  }

  .photo__info {
    display: flex;
    justify-content: space-between;

    padding: 16px 20px 17px;

    background-color: @grey-bg-color;
  }

  .photo:nth-of-type(2) .photo__info,
  .photo:nth-of-type(4) .photo__info {
    padding-right: 30px;
  }

  .photo:nth-of-type(3) .photo__info {
    padding-right: 37px;
  }
}

@media (min-width: @desktop-width) {
  .photo {
    position: relative;

    width: 400px;

    &--wide {
      width: 1200px;
    }
  }

  .photo__link {
    width: 400px;

    &--wide {
      width: 1200px;
    }
  }

  .photo__preview-image {
    width: 400px;

    &--wide {
      width: 1200px;
    }
  }

  .photo__info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    color: #ffffff;

    background-color: rgba(0, 0, 0, 0.3);
  }

  .photo__title,
  .photo__author {
    color: #ffffff;
  }
}
