.photo__title {
  margin: 0;

  font: bold 14px/24px @font-family;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000
}

.photo__author {
  margin: 0;

  .second-text-style();
  line-height: 24px;
  text-align: left;
  text-transform: none;
}
