.reason {
  width: 320px;
  margin: 0 auto;

  word-wrap: break-word;
  overflow-wrap: break-word;

  &--short {
    padding: 26px 20px 29px;

    color: #000000;

    background-color: @reason-short-bg-color;
  }

  &--short:last-child {
    padding-bottom: 28px;
  }
}

.reason__main {
  padding: 39px 20px;

  color: #ffffff;

  background-color: @sedona-color;
}

.reason__title {
  margin: 0;
  padding-bottom: 9px;

  .primary-text-style();
  color: inherit;
}

.reason__number {
  margin: 0;
  padding-bottom: 15px;

  .second-text-style();
  color: #ffffff;

  .reason--short & {
    color: @gray-text-color;
  }
}

.reason__description {
  margin: 0;

  .second-text-style();
  color: #ffffff;

  .reason--short & {
    padding: 0 13px;

    color: @gray-text-color;
  }
}

.reason__illustration {
  margin: 0;
}

.reason__illustration-image {
  display: block;
  width: 320px;
  height: 260px;
}

@media (max-width: @mobile-width-only) {
  .reason--triangle {
    position: relative;

    &::before {
      content: "";

      position: absolute;
      top: 0;
      left: 0;
      right: 0;

      height: 19px;

      background-image: url("../img/bg-triangle.svg");
      background-repeat: no-repeat;
      background-position: center bottom;
    }

    & .reason__main {
      padding-top: 59px;
      padding-bottom: 40px;
    }
  }

  .reason--short {
    position: relative;

    &:not(:last-child)::after {
      content: "";

      position: absolute;
      bottom: 0;
      left: 20px;
      right: 20px;

      width: auto;
      height: 1px;

      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

@media (min-width: @tablet-width) {
  .reason {
    display: flex;
    flex-wrap: wrap;

    width: auto;
    max-width: 768px;

    &--reverse {
      flex-direction: row-reverse;
    }

    &--short {
      flex-shrink: 0;

      display: block;
      width: 33.33%;
      max-width: 33.33%;
      margin: 0;
      padding: 45px 30px 44px;
    }
  }

  .reason__main {
    flex-shrink: 0;

    width: 33.33%;
    padding-top: 45px;
    padding-right: 42px;
    padding-left: 42px;
  }

  .reason__number {
    padding-bottom: 22px;
  }

  .reason__title {
    font-size: 21px;

    .reason--short & {
      padding-right: 25px;
      padding-left: 25px;
    }
  }

  .reason__illustration {
    flex-shrink: 0;

    width: 66.66%;
  }

  .reason__illustration-image {
    display: block;
    width: 100%;
    height: 256px;
  }
}

@media (min-width: @desktop-width) {
  .reason {
    max-width: 1200px;

    &--short {
      padding-bottom: 65px;
    }
  }

  .reason__main {
    padding-top: 52px;
    padding-right: 63px;
    padding-left: 63px;
  }

  .reason__title {
    padding-right: 50px;
    padding-left: 50px;

    .reason--short & {
      padding-right: 90px;
      padding-left: 90px;
    }
  }

  .reason__description--bridge {
    padding-right: 22px;
    padding-left: 22px;
  }

  .reason__illustration {
    position: relative;

    height: 256px;
    overflow: hidden;
  }

  .reason__illustration-image {
    position: absolute;

    height: auto;

    left: 0;

    &--city {
      top: -71px;
    }

    &--bridge {
      top: -77px;
    }
  }
}
