.social-list {
  display: flex;
  justify-content: center;

  .list-reset();
}

.social-list__item {
  width: 46px;

  &:not(:last-child) {
    margin-right: 6px;
  }
}

.social-list__link {
  position: relative;

  display: block;
  width: 46px;
  height: 48px;

  background-color: @sedona-color;
  cursor: pointer;

  &::after {
    content: "";

    position: absolute;

    background-repeat: no-repeat;
    background-position: center;
  }

  &--twitter::after {
    left: 14px;
    top: 17px;

    width: 18px;
    height: 14px;

    background-image: url("/../../img/icon-twitter.svg");
    background-size: 18px 14px;
  }

  &--facebook::after {
    left: 18.5px;
    top: 15px;

    width: 9px;
    height: 19px;
    background-image: url("/../../img/icon-facebook.svg");
    background-size: 9px 19px;
  }

  &--youtube::after {
    left: 13px;
    top: 17px;

    width: 20px;
    height: 14px;
    background-image: url("/../../img/icon-youtube.svg");
    background-size: 20px 14px;
  }

  &:hover {
    background-color: @sedona-color-mid;
  }

  &:active {
    background-color: @sedona-color-dark;
  }

  &:active::after {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .social-list {
    width: 256px;
  }
}

@media (min-width: @desktop-width) {
  .social-list {
    width: 400px;
  }
}
