.video {
  padding-top: 36px;
  padding-bottom: 38px;
}

.video__text {
  margin: 0;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 36px;

  .second-text-style();
  line-height: 24px;
}

.video__lead {
  display: block;
  padding-bottom: 30px;

  .primary-text-style();
}
