.video {
  width: 320px;
  margin: 0 auto;
  padding: 32px 0 38px;
}

.video__text {
  margin: 0;
  padding: 0 40px 35px;

  .second-text-style();
  line-height: 24px;
}

.video__lead {
  display: block;
  padding-bottom: 26px;

  .primary-text-style();
}

@media (min-width: @tablet-width) {
  .video {
    width: 768px;
    padding: 59px 60px 40px;
  }

  .video__text {
    width: 500px;
    margin: 0 auto;
    padding-bottom: 73px;
  }

  .video__lead {
    padding-bottom: 23px;

    font-size: 30px;
    line-height: 40px;
  }
}

@media (min-width: @desktop-width) {
  .video {
    width: 920px;
    padding-top: 64px;
    padding-bottom: 85px;
  }
}
