@site-theme-color: #81b3d2;
@grey-bg-color: #f2f2f2;
@grey-text-color: #333333;
@reason-short-bg-color: #eeeeee;
@footer-bg-color: #fefefe;

@font-family: "PT Sans", "Arial", sans-serif;

@tablet-width: 768px;
@desktop-width: 1200px;
@mobile-width-only: 767px;
