@tablet-width: 768px;
@desktop-width: 1200px;
@mobile-width-only: 767px;

@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;

@font-family: "PT Sans", "Arial", sans-serif;
@grey-text-color: #333333;

@sedona-color: #81b3d2;
@sedona-color-mid: #669ec0;
@sedona-color-dark: #5496bd;
@grey-bg-color: #f2f2f2;
@grey-bg-color-dark: #e5e5e5;
@reason-short-bg-color: #eeeeee;
@footer-bg-color: #fefefe;
